<br>

<div class="container mt-5 ">
    <h1 class="text-center display-1 font-weight-bold p-3 fontSize"> Welcome to the Angular Project Demo</h1>
    <h2 class="float-right mx-3">Yanshik Rajput(ASET)</h2>
<div class="jumbotron maincontainer">
 
    
<div class="row">
    <div class="col-md-7">

<h2> <a href="/data-binding">1.Data-Binding</a></h2>
<h2> <a href="/custom-attribute">2.Structural Directive Demo</a></h2>
<h2> <a href="/products">3.Products</a></h2>
<h2> <a href="/Master-Details">4.MasterDetails</a></h2>
<h2> <a href="/Share-Data">5.Share Data</a></h2>
<h2> <a href="/Gen-Error">6.ErrorHandler</a></h2>
<h2> <a href="/Login">7.Reactive Login Forms</a></h2>
<h2> <a href="/rxjs">8.RxJs Subject</a></h2>
    </div>
    <div class="col-md-5">

        <img src="../assets/a.png" class="img-fluid my-5 rounded-pill"  alt="Responsive image">
    </div>
</div>    


</div>
</div>



